@model EticaretProje.Models.Urun

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Urun</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Adi" class="control-label"></label>
                <input asp-for="Adi" class="form-control" />
                <span asp-validation-for="Adi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fiyat" class="control-label"></label>
                <input asp-for="Fiyat" class="form-control" />
                <span asp-validation-for="Fiyat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklamasi" class="control-label"></label>
                <input asp-for="Aciklamasi" class="form-control" />
                <span asp-validation-for="Aciklamasi" class="text-danger"></span>
            </div>
          @*  <div class="form-group">
                <label asp-for="Resim" class="control-label"></label>
                <input asp-for="Resim" class="form-control" />
                <span asp-validation-for="Resim" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label for="exampleFormControlFile1">Resim Yükle</label>
                <input type="file" name="formFile" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <div class="form-group">
                <label asp-for="Adet" class="control-label"></label>
                <input asp-for="Adet" class="form-control" />
                <span asp-validation-for="Adet" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Populer" /> @Html.DisplayNameFor(model => model.Populer)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="KategoriId" class="control-label"></label>
                <select asp-for="KategoriId" class ="form-control" asp-items="ViewBag.KategoriListesi"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
